
<h1>Contact</h1>
<p>
<a href="http://rubyschool.us/"><em>Ruby school foreva</em> </a>
</p>
<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="http://www.railstutorial.org/#contact">contact page</a>.
</p>

